* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FONT */
@font-face {
  font-family: "poppins";
  src: url(font/poppins-regular-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-medium";
  src: url(font/poppins-medium-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-semibold";
  src: url(font/poppins-semibold-webfont.woff) format("woff");
}
html {
  overflow-x: hidden;
}
body {
  font-family: "poppins";
  background-color: rgb(235, 243, 252);
}
/* header start*/
header {
  width: 100vw;
  height: 80px;
  background-color: rgb(0, 89, 255);
}
header h1 {
  font-family: "poppins-medium";
  text-align: center;
  padding: 25px;
  color: aliceblue;
}
header h1 span {
  font-size: 1.2rem;
  color: rgb(173, 173, 173);
}
/* header end */
/* main page start*/
main {
  box-sizing: border-box;
  width: 100vw;
  text-align: center;
  background-color: rgb(241, 241, 241);

  margin-top: 20px;
  display: block;
}
main .text {
  padding-top: 40px;
}
main .text h2 {
  margin-bottom: 20px;
  font-family: "poppins-semibold";
  font-size: 2rem;
}
main .text p {
  line-height: 1.5;
  font-size: 1.1rem;
}
main .button-click {
  display: flex;
  position: relative;

  margin: 30px;

  justify-content: space-evenly;
}
main .button-click button {
  padding: 17px 40px;
  border-radius: 50px;
  border: 2.5px solid rgb(0, 89, 255);
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}
main .button-click button:hover {
  letter-spacing: 3px;
  background-color: rgb(0, 89, 255);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(51, 116, 238) 0px 7px 29px 0px;
}
main .button-click button:active {
  letter-spacing: 3px;
  background-color: rgb(0, 89, 255);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(68, 130, 247) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
/* main page end*/
/* main section luas start */
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
section .luas {
  position: relative;
  border: 3px solid rgb(0, 89, 255);
  min-width: 90vw;
}
section .luas .header-luas {
  background-color: rgb(0, 89, 255);
  height: 60px;
  padding: 1rem;
}
section .luas .header-luas h2 {
  color: aliceblue;
  font-size: 1.7rem;
  font-family: "poppins-semibold";
  text-align: center;
}
section .luas .kotak {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  line-height: 3;
}
section .luas .kotak span {
  width: 100px;
  height: 100px;
  border: 2px solid red;
}
section .luas .text {
  padding: 30px;
  border-bottom: 3px solid rgb(211, 209, 209);
}
section .luas .text h4 {
  margin-bottom: 50px;
}
section .luas .text p {
  line-height: 2;
}
section .luas .text p:nth-child(3) {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
section .luas .nilai-luas {
  display: block;
  position: relative;
}
section .luas .nilai-luas h2 {
  text-align: center;
  padding-top: 50px;
  font-family: "poppins-semibold";
  font-size: 2rem;
}
section .luas .nilai-luas input {
  width: 40%;
  box-sizing: border-box;
  padding: 3px;
  position: relative;
  margin: 40px;
}
section .luas .nilai-luas .result-luas {
  margin-left: 20px;
  line-height: 2.5;
}
section .luas .nilai-luas button {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}
section .luas .nilai-luas button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}
section .luas .nilai-luas button:hover {
  color: white;
}
section .luas .nilai-luas button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}
section .luas .nilai-luas button:hover::before {
  top: -30px;
  left: -30px;
}
/* main section luas end */
